@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* background animate*/
@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* scrollbar remove */
body::-webkit-scrollbar {
  display: none;
}

body{
  color:white;
  /* animation */
  background-attachment: fixed;
  background-image: url("images/background8.jpg");
  background-repeat: no-repeat;
  background-size: 110% 110%;
  animation: bggradient 45s ease infinite;
  
  /* global styler */
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color:white; 
}

.header-container{
    height:250px;
    margin:auto;
}

.nav-link{
  color:white;
}

#name{
  color:white;
  padding: 100px auto;
  font-size: 6rem;
  text-align: center;
  font-family: 'Caveat', cursive;
}

#strapline{
  font-family: 'Caveat', cursive;
  font-size:1.5em;
  text-align: center;
}

.content-container{
  color:white;
  height:250px;
  align-items: center;
}

.about-container{
    text-align: center;
    padding: 2% 15%;
    font-size: 1rem;
    color:white;
    margin: auto;
}

#about-span{
  font-family: 'Caveat', cursive;
  text-align: left;
  font-size: 1.6em;
}

.project-container{
   height: 200px;
    text-align: left;
    padding: 2% 15%;
    align-items: center;
    font-size: 1rem;
    color:white;
    margin: auto;
}
  
